.player {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
  border: 1px solid lightgrey;

  color: white;
}

.player button {
  margin-left: 10px;
}

.player.red {
  background-color: darkred;
}

.player.green {
  background-color: darkgreen;
}

.player.blue {
  background-color: darkblue;
}

.player.yellow {
  background-color: goldenrod;
}

.balance {
  font-size: 36px;
}

.active {
  font-weight: bold;
}