.app {
  width: 100%;
  height: 100vh;

  display: flex;
}

button {
  font-size: 18px;
}

.grid {
  flex: 1;

  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.8fr;
  gap: 0 0;
  grid-template-areas:
    "Players Log Log"
    "Players Log Log"
    "Bank Bank Bank";
}

.players {
  grid-area: Players;
  border: 1px solid gray;
}

.cubes {
  grid-area: Bank;
  border: 1px solid gray;
  padding: 16px;
}

.log {
  grid-area: Log;
  border: 1px solid gray;
  padding: 16px;
}